In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from splits import split_users # contains split_users func

pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 25)

In [2]:
# read in pickled DFs generated by query_dfs.py

df_orders = pd.read_pickle("./pickle/df_orders.pickle")
df_train = pd.read_pickle("./pickle/df_train.pickle")
df_prior = pd.read_pickle("./pickle/df_prior.pickle")
df_prod_detail = pd.read_pickle("./pickle/df_prod_detail.pickle")

In [3]:
# read in pickled feature DF generated by feature_engineering_1.ipynb
X = pd.read_pickle("./pickle/X_15.pickle")

In [4]:
X.sample(2)

,product_id,user_id,num_orders,cart,in_cart,last_cart,in_last_cart,prod_prior_sales,prod_pct_reorders,prod_avg_atco,user_avg_ippo,user_avg_spacing,user_avg_time,order_hour_of_day_avg,days_since_prior_order_avg
2087329,18413,74916,4,"[5785, 11520, 14294, 45221, 13554, 9124, 35561...",0,"[19006, 13176, 13554, 45221, 37792, 8929, 7753...",0,1296,0.449846,8.145062,19.303030,22.0,18,13.062794,11.270270
3040671,14992,139792,4,"[30391, 34126, 12980, 18564, 79, 47209, 19057,...",0,"[15008, 22400, 15532, 4579, 31717]",0,29069,0.582820,9.240669,12.444444,4.0,19,13.574405,4.938253

### Picking up where we left off...

**More. Features.**

* `streak`: how many times in a row has this user ordered this item?

In [5]:
df_prior.sample(2)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,cart,in_cart
25950066,1372759,24838,1,1,53597,prior,4,3,13,24.0,"[24838, 8555, 7677, 47717, 24521, 44201, 11926...",1
17838909,1437005,19660,2,1,184736,prior,7,0,14,7.0,"[21137, 19660, 11109, 41787, 22969, 6188, 3201...",1

In [ ]:
df_prior.groupby(["product_id", "user_id", "order_id"], as_index=False).agg({"in_cart":"sum"})