In [1]:
import psycopg2
import pandas as pd
import numpy as np
import pickle

from db_config import *

In [2]:
params = get_db_params()

In [3]:
conn = psycopg2.connect(**params)

In [4]:
c = conn.cursor()

In [5]:
query = """
SELECT *
FROM orders
WHERE eval_set = 'train';
"""

df_train = pd.read_sql_query(query, conn)

In [6]:
df_train

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1187899,1,train,11,4,8,14.0
1,1492625,2,train,15,1,11,30.0
2,2196797,5,train,5,0,11,6.0
3,525192,7,train,21,2,11,6.0
4,880375,8,train,4,1,14,10.0
...,...,...,...,...,...,...,...
131204,943915,206200,train,24,6,19,6.0
131205,2371631,206203,train,6,4,19,30.0
131206,1716008,206205,train,4,1,16,10.0
131207,160694,206186,train,4,5,15,7.0
131208,272231,206209,train,14,6,14,30.0

In [7]:
whos

Variable        Type          Data/Info
---------------------------------------
ConfigParser    ABCMeta       <class 'configparser.ConfigParser'>
c               cursor        <cursor object at 0x7f89f8ffc9a0; closed: 0>
conn            connection    <connection object at 0x7<...>st=localhost', closed: 0>
df_train        DataFrame             order_id  user_id<...>[131209 rows x 7 columns]
get_db_params   function      <function get_db_params at 0x7f89f92b8e50>
np              module        <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>
params          dict          n=4
pd              module        <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
pickle          module        <module 'pickle' from '/U<...>lib/python3.8/pickle.py'>
psycopg2        module        <module 'psycopg2' from '<...>es/psycopg2/__init__.py'>
query           str           \nSELECT *\nFROM orders\n<...>ERE eval_set = 'train';\n

In [8]:
filename = "../data/orders_df.pickle"

pickle.dump(df_train, open(filename, "wb"))

In [9]:
whos

Variable        Type          Data/Info
---------------------------------------
ConfigParser    ABCMeta       <class 'configparser.ConfigParser'>
c               cursor        <cursor object at 0x7f89f8ffc9a0; closed: 0>
conn            connection    <connection object at 0x7<...>st=localhost', closed: 0>
df_train        DataFrame             order_id  user_id<...>[131209 rows x 7 columns]
filename        str           ../data/orders_df.pickle
get_db_params   function      <function get_db_params at 0x7f89f92b8e50>
np              module        <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>
params          dict          n=4
pd              module        <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
pickle          module        <module 'pickle' from '/U<...>lib/python3.8/pickle.py'>
psycopg2        module        <module 'psycopg2' from '<...>es/psycopg2/__init__.py'>
query           str           \nSELECT *\nFROM orders\n<...>ERE eval_set = 'train';\n

In [12]:
df_train = pd.read_pickle(filename)

In [18]:
len(df_train.order_id.unique())

131209

In [19]:
query = """
SELECT *
FROM orders
WHERE eval_set = 'prior';
"""

df_prior = pd.read_sql_query(query, conn)

In [22]:
df_prior.shape

(3214874, 7)

In [23]:
len(df_prior.order_id.unique())

3214874

In [24]:
df_prior.sample(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2309369,1890051,147884,prior,3,6,2,21.0
2419450,1752391,154901,prior,22,0,17,4.0
968449,283334,61971,prior,10,5,11,11.0
3173580,263178,203497,prior,4,3,15,30.0
3017083,1482083,193567,prior,16,3,12,30.0
1006486,1165225,64517,prior,8,5,10,6.0
646319,1899785,41460,prior,11,5,16,9.0
2587530,635088,165946,prior,1,1,5,NaN
25630,2801297,1699,prior,17,4,14,3.0
594070,2075652,38089,prior,19,4,19,8.0